body,div,a,form,img,input{
	margin: 0;
	padding: 0;
}
.top{
    width:100%;
    height: 362px;
    min-width: 1200px;
    background-position: center top;
    style="background-image: url(img/bg_01.png);"
    background: no-repeat;
}
.top_header{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
/*	border: 1px solid black;*/
}
a{
	text-decoration: none;
	outline: none;
}
.top_header a{
	font-size: 30px;
	color: white;
	font-family: "幼圆";
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
}
.log_in a{
    width: 120px;
    height: 36px;
    background-color: rgba(255,255,255,0.5);
    float: right;
    margin-top: -30px;
    margin-right: 19px;
    line-height: 36px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: black;
}
.button_top{
	width: 360px;
	height: 40px;
/*	border: 1px solid black;*/
	margin: 150px auto;
	cursor: pointer;
	font-size: 14px;
}
.button_top .left,.button_top .right{
	width: 180px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;	
}

.center{
	height: 350px;
	width: 100%;
	/*min-width: 1200px;*/
/*	border: 1px solid black;*/
}

.center .big_div{
	width: 446px;
	height: 330px;
	margin: 10px auto;
/*	border: 1px solid black;*/
	position: relative;
}
.center .big_div_two{
	width: 446px;
	height: 330px;
	margin: 10px auto;
/*	border: 1px solid black;*/
	position: relative;
}
.phone_img,.phone_img1{
	width: 46px;
	height: 38px;
	border: 1px solid #e5e5e5;
	margin-top: 70px;
	float: left;
	border-right-width: 0;
	position: relative;
}
.phone_img img{
	position: absolute;
	left: -5px;
}
.phone_img1 img{
	position: absolute;
	top: 5px;
	left: 8px;
}
.big_div .phone_img img{
	border: 0;
	vertical-align: middle;
	margin: 4px 14px;
}
.big_div_two .phone_img img{
	border: 0;
	vertical-align: middle;
	margin: 10px 12px;
}

.phone_input input{
    width: 199px;
    font-size: 14px;
    height: 18px;
    border: 1px solid #e5e5e5;
    float: left;
    padding: 10px 0;
    padding-left: 15px;
    color: #b6b6b6;
    margin-top: 70px;
	
}
.phone_input .phone_right{
	width: 128px;
    height: 38px;
    background-color: #0bc04a;
    float: right;
    line-height: 38px;
    text-align: center;
    border: 1px solid #e5e5e5;
    color: #fff;
    cursor: pointer;
    margin-top: 70px;
    margin-right: 20px;
}
.key_img{
	width: 46px;
	height: 38px;
	border:1px solid #E5E5E5;
	margin-top: 20px;
	float: left;
    border-right-width: 0;
    position: relative;
}
.key_img img{
	position: absolute;
	top: 5px;
	left: 10px;
}
.key_input input{
	width: 361px;
    font-size: 14px;
    height: 18px;
    border: 1px solid #e5e5e5;
    float: left;
    padding: 10px 0;
    padding-left: 15px;
    color: #b6b6b6;
    margin-top: 20px;
}
.button_center{
	width: 426px;
	height: 40px;
	/*border: 1px solid black;*/
	/*margin:0 auto;*/
	position: absolute;
	bottom: 100px;
}
.button_center input{
	width: 426px;
	height: 40px;
    background-color: #00a4e1;
    font-size: 18px;
    color: white;
    border: 0;
    cursor: pointer;
}

.bottom{
	font-size: 14px;
	text-align: center;
	color: #666;
}
